
@{
    ViewData["Title"] = "Create";
    ViewData["isAdd"] = true;
}

<h1>Create</h1>

<partial name="_AddEditTender" />

@section Scripts{
    <script src="~/custome-js/admin/tender.js"></script>
}
