@model LoginVM

@{
    Layout = "_AuthLayout";
    ViewData["title"] = "Login";
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-basic px-2">
                <div class="auth-inner my-2">
                    <!-- Login basic -->
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="index.html" class="brand-logo">

                                <h2 class="brand-text text-primary ms-1">Login</h2>
                            </a>



                            <form class="auth-login-form mt-2" asp-action="postLogin" asp-controller="Account" asp-area="Admin" method="POST">
                                <div class="mb-1">
                                    <label for="login-email" class="form-label">Email</label>
                                    <input type="email"
                                           class="form-control"
                                           id="login-email"
                                           asp-for="Email"
                                           placeholder="john"
                                           aria-describedby="login-email"
                                           tabindex="1"
                                           autofocus />
                                </div>

                                <div class="mb-1">
                                    @* <div class="d-flex justify-content-between">
                                    <label class="form-label" for="login-password">Password</label>
                                    <a href="auth-forgot-password-basic.html">
                                    <small>Forgot Password?</small>
                                    </a>
                                    </div>*@
                                    <label class="form-label" for="login-password">Password</label>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input type="password"
                                               class="form-control form-control-merge"
                                               id="login-password"
                                               asp-for="Password"
                                               tabindex="2"
                                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                               aria-describedby="login-password" />
                                        <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary w-100" tabindex="4">Sign in</button>
                            </form>
@*
                            <p class="text-center mt-2">
                                <span>New on our platform?</span>
                                <a asp-action="register" asp-controller="Auth">
                                    <span>Create an account</span>
                                </a>
                            </p>*@


                        </div>
                    </div>
                    <!-- /Login basic -->
                </div>
            </div>

        </div>
    </div>
</div>
